In [1]:
from pandas_datareader import data
import pandas as pd


# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', 'SPY','UNH']

# Define which online source one should use
data_source = 'google'

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2017-01-01'
end_date = '2017-8-30'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, data_source, start_date, end_date)

# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = panel_data.loc['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

close.tail(10)

ModuleNotFoundError: No module named 'pandas_datareader'

In [35]:
bb=close.tail(10)
display(bb.describe())
display(bb.info())

             AAPL       MSFT         SPY         UNH
count   10.000000  10.000000   10.000000   10.000000
mean   159.919000  72.832000  244.268000  194.139000
std      2.134398   0.510377    1.094042    1.796271
min    157.210000  72.150000  242.710000  190.820000
25%    158.212500  72.540000  243.315000  193.085000
50%    159.820000  72.770000  244.560000  194.555000
75%    161.097500  72.995000  244.780000  195.015000
max    163.350000  74.010000  246.010000  196.730000

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2017-08-17 to 2017-08-30
Freq: B
Data columns (total 4 columns):
AAPL    10 non-null float64
MSFT    10 non-null float64
SPY     10 non-null float64
UNH     10 non-null float64
dtypes: float64(4)
memory usage: 400.0 bytes

None

In [24]:
panel_data

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-09-21 00:00:00 to 2017-09-19 00:00:00
Minor_axis axis: AAPL to UNH

In [25]:
# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
adj_close = panel_data.ix['Open']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex adj_close using all_weekdays as the new index
adj_close = adj_close.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
adj_close = adj_close.fillna(method='ffill')