In [1]:
!pip install --upgrade datetime --user

/home/b4gone/.local/lib/python2.7/site-packages/pip/_vendor/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)
Collecting datetime
  Using cached https://files.pythonhosted.org/packages/0d/db/511934e34360fe0cfe91fc58483b25d8a9c516264ff2877dadb11a0612cd/DateTime-4.2-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: pytz in /usr/lib/python2.7/dist-packages (from datetime) (2014.10)
Requirement already satisfied, skipping upgrade: zope.interface in /usr/lib/python2.7/dist-packages (from datetime) (4.1.3)
Installing collected packages: datetime
Successfully installed datetime-4.2

In [ ]:
!xed ~/Dropbox/py/stock_inc.py

In [2]:
%run ~/Dropbox/py/stock_inc.py 
do_filesearch(srchtxt='/home/b4gone/Dropbox/txt/USE_*.txt')

'USE_20180102'

'USE_20180402'

'USE_20180601'

'USE_20180201'

'USE_20180501'

'USE_20180301'

In [ ]:
do_filesearch(srchtxt='/home/b4gone/U64/data/*.psv',xx_sep="|")

In [ ]:
do_filesearch(srchtxt='/home/b4gone/U64/data/*.csv',xx_sep=",")

In [3]:
do_filesearch(srchtxt='/home/b4gone/U64/data/*.psv',xx_sep="|")

'options'

/home/b4gone/.local/lib/python3.5/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

'(1)'

'nasdaqtraded'

'TradingSystemAddsDeletes'

'webl16'

'bxoptions'

'otherlisted'

'psxtraded'

'(3)'

ParserError: Error tokenizing data. C error: Expected 18 fields in line 286296, saw 20

In [48]:
do_filesearch(srchtxt='/home/b4gone/U64/data/*.ics',xx_sep=":")

'wuss'

'wuss(2)'

'APATheatreGuildYearEndBanquet2017_1'

ParserError: Error tokenizing data. C error: Expected 2 fields in line 6, saw 4

In [ ]:
%run ~/Dropbox/py/stock_inc.py 
do_import_one(nm='bxtraded',fullname='/home/b4gone/U64/data/bxtraded.txt',xx_sep="|")

In [46]:
do_filesearch(srchtxt='/home/b4gone/Dropbox/amigobulls/*.csv')

'AET_20180601'

/home/b4gone/.local/lib/python3.5/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

'AVGO_20180601'

'TWTR_20180601'

'SQ_20180601'

'PYPL_20180601'

'ABMD_20180601'

'MSFT_20180601'

'WWE_20180601'

'BZUN_20180601'

'ALGN_20180601'

'MA_20180601'

'LOXO_20180601'

'NFLX_20180601'

'UNH_20180601'

In [39]:
%run ~/Dropbox/py/stock_inc.py
do_use(src='USE_20180102')
do_use(src='USE_20180601')
do_use(src='USE_20180301')

,index,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,Low_High_pct,VolxClose
7883,7883,WINS,20180102,190.26,217.00,188.00,217.00,2500,15.4,0.5
3578,3578,HTHT,20180102,146.44,159.35,146.01,158.86,1003900,9.1,159.5
7800,7800,WB,20180102,104.61,113.50,104.60,113.17,2486900,8.5,281.4
11,11,AAP,20180102,100.90,107.93,99.71,106.09,2624500,8.2,278.4
6268,6268,ROG,20180102,162.61,174.50,162.61,171.89,340800,7.3,58.6
6768,6768,SOXL,20180102,140.25,149.27,139.56,149.27,615800,7.0,91.9
8100,8100,YY,20180102,114.15,122.00,114.15,121.46,1948200,6.9,236.6
7897,7897,WLTW,20180102,156.52,156.52,146.45,146.99,817800,6.9,120.2
7241,7241,TPL,20180102,446.01,476.01,446.01,460.59,38500,6.7,17.7
6620,6620,SINA,20180102,102.39,108.75,102.05,108.43,1407700,6.6,152.6

,index,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,Low_High_pct,VolxClose
4667,4667,MDGL,20180601,270.00,279.800,246.18,274.42,1372700,13.7,376.7
3936,3936,IRDMB,20180601,525.00,593.190,525.00,548.08,19000,13.0,10.4
4560,4560,LULU,20180601,113.95,123.840,113.20,122.19,14155500,9.4,1729.7
1732,1732,CXO,20180601,137.64,137.690,126.52,129.21,5327800,8.8,688.4
7903,7903,WINA,20180601,144.00,153.700,141.50,146.30,3400,8.6,0.5
7463,7463,ULTA,20180601,235.99,251.970,234.81,245.15,3982100,7.3,976.2
4519,4519,LOXO,20180601,178.01,187.380,176.20,186.69,603400,6.3,112.6
7448,7448,UHAL,20180601,324.95,342.740,323.24,342.00,231800,6.0,79.3
859,859,BLUE,20180601,179.65,187.605,177.10,182.40,797400,5.9,145.4
533,533,ATHM,20180601,114.36,119.500,113.08,113.61,846200,5.7,96.1

,index,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,Low_High_pct,VolxClose
4436,4436,KWR,20180301,150.00,164.10,147.44,153.00,108000,11.3,16.5
4604,4604,LOXO,20180301,108.00,118.00,106.52,115.04,408200,10.8,47.0
6906,6906,SOXL,20180301,169.23,171.04,155.00,160.77,959800,10.3,154.3
7250,7250,TECL,20180301,132.00,133.52,121.70,124.77,499300,9.7,62.3
2747,2747,FINU,20180301,113.17,114.74,104.92,107.14,61200,9.4,6.6
7636,7636,UPRO,20180301,143.38,146.03,134.61,137.43,3531100,8.5,485.3
4756,4756,MDGL,20180301,125.40,129.22,119.47,124.45,161900,8.2,20.1
7846,7846,VMW,20180301,131.00,131.71,122.00,123.66,6308500,8.0,780.1
2187,2187,EDC,20180301,130.93,133.65,123.84,127.50,387400,7.9,49.4
6397,6397,ROG,20180301,135.60,137.25,127.71,127.95,350200,7.5,44.8

In [4]:
%run ~/Dropbox/py/stock_inc.py 
csvs=["ABMD","BZUN","LOXO","ALGN","NFLX","AMZN","EA","NVDA","UNH","V","WWE"]
fnc_fetch_one(ticker=csvs,src='morningstar')
#fnc_fetch_one(ticker={'LOXO'},src='morningstar')

,Symbol,Date,Close,High,Low,Open,Volume,Low_High_pct,Open_Close_pct,High_Close_pct,VolxClose,VolxClose_pct,1m_chg,1m_pct
6,ABMD,2018-07-16,419.38,421.7600,417.0600,419.33,583178,0.011269,0.000119,0.005675,244.573190,0.101863,0.62,0.001481
5,ABMD,2018-07-13,418.76,421.1100,413.8735,416.23,530049,0.017485,0.006042,0.005612,221.963319,-0.585159,4.15,0.010009
4,ABMD,2018-07-12,414.61,415.0200,408.1600,408.19,1290505,0.016807,0.015484,0.000989,535.056278,2.322182,10.82,0.026796
3,ABMD,2018-07-11,403.79,408.0000,399.1800,402.67,398860,0.022095,0.002774,0.010426,161.055679,-0.383555,-1.36,0.003357
2,ABMD,2018-07-10,405.15,413.5000,399.7300,413.09,644861,0.034448,-0.019598,0.020610,261.265434,0.050803,-3.31,0.008104
1,ABMD,2018-07-09,408.46,413.8550,403.1600,407.88,608711,0.026528,0.001420,0.013208,248.634095,-0.016788,2.47,0.006084
27,ALGN,2018-07-16,362.28,366.3200,358.0200,365.00,377049,0.023183,-0.007508,0.011152,136.597312,-0.487955,-1.17,0.003219
26,ALGN,2018-07-13,363.45,368.9715,361.2850,364.00,733989,0.021275,-0.001513,0.015192,266.768302,-0.092541,0.63,0.001736
25,ALGN,2018-07-12,362.82,363.0399,350.3100,350.31,810244,0.036339,0.034480,0.000606,293.972728,0.943534,13.95,0.039986
24,ALGN,2018-07-11,348.87,352.4000,345.5000,346.98,433562,0.019971,0.005417,0.010118,151.256775,-0.276408,-2.58,0.007341

In [28]:
!xed ~/Dropbox/py/stock_inc.py

^C

In [5]:
%run ~/Dropbox/py/stock_inc.py 
show_stock(src="morningstar")

    index Symbol                 Date Close     Volume Low_High_pct Open_Close_pct High_Close_pct VolxClose VolxClose_pct  1m_chg 1m_pct
20     11   BZUN  2018-07-12 00:00:00    61  2,037,919           6%             5%             1%       125           92%    3.55     6%
34     16   LOXO  2018-07-10 00:00:00   176  1,060,396           5%            -2%             5%       187           91%  -10.91     6%
37     33   NFLX  2018-07-13 00:00:00   396 15,747,266           4%            -3%             4%     6,233           18%  -17.70     4%
23      8   BZUN  2018-07-09 00:00:00    58  2,180,001           3%             2%             0%       126           77%    2.37     4%
8      25   ALGN  2018-07-12 00:00:00   363    810,244           4%             3%             0%       294           94%   13.95     4%
60     76    WWE  2018-07-16 00:00:00    79  1,601,101           4%             3%             1%       127           -8%    2.49     3%
61     75    WWE  2018-07-13 00:00:00    77  1,793,484           6%            -0%             4%       138          286%    2.36     3%
33     17   LOXO  2018-07-11 00:00:00   181    620,109           4%             3%             1%       112          -40%    5.07     3%
2       4   ABMD  2018-07-12 00:00:00   415  1,290,505           2%             2%             0%       535          232%   10.82     3%
41     29   NFLX  2018-07-09 00:00:00   419 11,127,477           2%             1%             0%     4,662           32%   10.72     3%
18     13   BZUN  2018-07-16 00:00:00    62  1,363,405           4%             2%             1%        85           25%    1.44     2%
14     39   AMZN  2018-07-12 00:00:00 1,797  4,532,743           2%             2%             0%     8,144           45%   41.62     2%
45     52   NVDA  2018-07-11 00:00:00   248  9,187,660           2%            -1%             1%     2,274           -0%   -5.72     2%
30     20   LOXO  2018-07-16 00:00:00   175    437,313           4%            -2%             3%        77           68%   -4.03     2%
65     71    WWE  2018-07-09 00:00:00    75  1,163,952           4%            -3%             3%        87           54%   -1.61     2%
26     46     EA  2018-07-12 00:00:00   149  1,903,438           2%             1%             0%       283           -6%    2.89     2%
17     36   AMZN  2018-07-09 00:00:00 1,739  3,011,988           1%             1%             0%     5,238           16%   28.39     2%
35     15   LOXO  2018-07-09 00:00:00   187    522,277           4%            -2%             3%        98           11%   -3.06     2%
46     51   NVDA  2018-07-10 00:00:00   253  9,000,390           2%             1%             0%     2,279           20%    4.00     2%
44     53   NVDA  2018-07-12 00:00:00   251  8,637,673           2%             1%             1%     2,170           -5%    3.70     1%
24     48     EA  2018-07-16 00:00:00   147  1,913,797           2%            -2%             2%       281          -10%   -2.05     1%
56     67      V  2018-07-12 00:00:00   140 11,816,114           1%             1%             0%     1,653           12%    1.75     1%
38     32   NFLX  2018-07-12 00:00:00   414 12,743,273           2%            -0%             1%     5,269           30%   -5.15     1%
36     34   NFLX  2018-07-16 00:00:00   400 19,785,845           3%             0%             1%     7,924           27%    4.68     1%
53     57    UNH  2018-07-09 00:00:00   254  2,039,553           1%             1%             0%       517           31%    2.91     1%
57     66      V  2018-07-11 00:00:00   138 10,648,707           2%             1%             0%     1,471           64%    1.46     1%
59     64      V  2018-07-09 00:00:00   136  8,960,741           1%             0%             0%     1,214           87%    1.43     1%
27     45     EA  2018-07-11 00:00:00   146  2,057,194           2%             2%             0%       300           21%    1.53     1%
49     61    UNH  2018-07-13 00:00:00   259  2,356,197           1%             1%             0%       610           49%    2.65     1%
1       5   ABMD  2018-07-13 00:00:00   419    530,049           2%             1%             1%       222          -59%    4.15     1%
13     40   AMZN  2018-07-13 00:00:00 1,813  4,386,679           1%             1%             0%     7,953           -2%   16.41     1%
58     65      V  2018-07-10 00:00:00   137  6,561,867           1%             1%             0%       897          -26%    1.17     1%
4       2   ABMD  2018-07-10 00:00:00   405    644,861           3%            -2%             2%       261            5%   -3.31     1%
40     30   NFLX  2018-07-10 00:00:00   416  9,382,944           2%            -0%             1%     3,900          -16%   -3.34     1%
19     12   BZUN  2018-07-13 00:00:00    61  1,120,178           4%            -2%             3%        68          -45%   -0.48     1%
47     50   NVDA  2018-07-09 00:00:00   249  7,597,022           2%            -0%             1%     1,894            3%    1.92     1%
43     54   NVDA  2018-07-13 00:00:00   249  6,179,078           2%            -1%             1%     1,541          -29%   -1.91     1%
52     58    UNH  2018-07-10 00:00:00   256  2,012,223           1%             1%             1%       514           -1%    1.87     1%
9      24   ALGN  2018-07-11 00:00:00   349    433,562           2%             1%             1%       151          -28%   -2.58     1%
39     31   NFLX  2018-07-11 00:00:00   419  9,713,904           2%             2%             0%     4,067            4%    3.02     1%
10     23   ALGN  2018-07-10 00:00:00   351    594,782           2%             0%             0%       209          -24%    2.48     1%
31     19   LOXO  2018-07-13 00:00:00   179    255,067           2%            -0%             2%        46          -13%   -1.25     1%
54     69      V  2018-07-16 00:00:00   138  4,930,373           1%            -1%             1%       683          -38%   -0.96     1%
15     38   AMZN  2018-07-11 00:00:00 1,755  3,209,782           1%             1%             0%     5,633            8%   11.93     1%
48     62    UNH  2018-07-16 00:00:00   257  3,617,583           1%            -1%             1%       930           53%   -1.72     1%
5       1   ABMD  2018-07-09 00:00:00   408    608,711           3%             0%             1%       249           -2%    2.47     1%
50     60    UNH  2018-07-12 00:00:00   256  1,592,817           1%            -0%             0%       408            8%    1.46     1%
12     41   AMZN  2018-07-16 00:00:00 1,822  5,314,847           2%             0%             1%     9,686           22%    9.46     1%
21     10   BZUN  2018-07-11 00:00:00    58  1,129,422           7%             3%             2%        65          -25%   -0.28     0%
63     73    WWE  2018-07-11 00:00:00    75    574,094           2%             0%             2%        43           -3%   -0.36     0%
42     55   NVDA  2018-07-16 00:00:00   248  4,830,552           1%             0%             1%     1,199          -22%   -1.12     0%
11     22   ALGN  2018-07-09 00:00:00   349    784,886           3%            -0%             1%       274           23%    1.50     0%
32     18   LOXO  2018-07-12 00:00:00   180    290,783           3%            -2%             2%        52          -53%   -0.78     0%
51     59    UNH  2018-07-11 00:00:00   255  1,486,018           1%            -0%             1%       378          -26%   -0.95     0%
55     68      V  2018-07-13 00:00:00   139  7,866,197           2%            -0%             0%     1,097          -34%   -0.48     0%
3       3   ABMD  2018-07-11 00:00:00   404    398,860           2%             0%             1%       161          -38%   -1.36     0%
6      27   ALGN  2018-07-16 00:00:00   362    377,049           2%            -1%             1%       137          -49%   -1.17     0%
29     43     EA  2018-07-09 00:00:00   145  2,041,935           3%            -1%             2%       295           25%   -0.46     0%
28     44     EA  2018-07-10 00:00:00   144  1,716,327           1%            -0%             1%       247          -16%   -0.45     0%
16     37   AMZN  2018-07-10 00:00:00 1,743  3,002,905           1%             0%             0%     5,234           -0%    4.05     0%
7      26   ALGN  2018-07-13 00:00:00   363    733,989           2%            -0%             2%       267           -9%    0.63     0%
0       6   ABMD  2018-07-16 00:00:00   419    583,178           1%             0%             1%       245           10%    0.62     0%
22      9   BZUN  2018-07-10 00:00:00    58  1,497,325           5%            -0%             3%        87          -31%    0.08     0%
64     72    WWE  2018-07-10 00:00:00    75    587,879           3%            -0%             2%        44          -50%   -0.10     0%
62     74    WWE  2018-07-12 00:00:00    75    478,884           2%             0%             1%        36          -17%   -0.07     0%
25     47     EA  2018-07-13 00:00:00   149  2,108,630           3%             0%             2%       314           11%    0.12     0%

In [3]:
!xed ~/Dropbox/py/stock_inc.py

In [6]:
%run ~/Dropbox/py/stock_inc.py
interactive(eoddata_ticker,x=xx_ticker)

NameError: name 'xx_ticker' is not defined

In [7]:
!alias fn='/home/b4gone/Downloads/robin2.txt'
!awk '{ORS="\",\"";print $1}' '/home/b4gone/Downloads/robin2.txt' 
!awk '{print "* ["$1"](https://amigobulls.com/stocks/"$1"/historical-stock-prices)"}' '/home/b4gone/Downloads/robin2.txt' > '/home/b4gone/Downloads/robin3.txt'

","ABMD","AET","ALGN","AVGO","BA","BOX","BZUN","EVBG","GERN","HAE","HTHT","HUM","LH","LOXO","MA","MDB","MKSI","MOH","MOMO","MSFT","MSG","NFLX","PYPL","SQ","THC","TWTR","UNH","WDC","WWE","